body{
    background: url('../img/bacground.jpg');
    background-size: cover;
}
.login-form{
    width: 320px;
    height: 400px;
    background: rgb(44, 49, 49, 0.5);
    color:#fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 30px;

}
.picc{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50%);
    border-radius: 50%;
    margin: 0 0 0 109px;
}
.login-form h2{
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}
.login-form label{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}
.login-form input{
    width: 100%;
    height: 25px;
    margin-bottom: 25px;
}
.login-form input[type='text'], input[type='password']{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(163, 132, 75);
    color: rgb(255, 255, 255);
    font-size: 12px;
}
.login-form input[type='submit']{
    outline: 0px;
    border: 0px;
    
    background: rgb(202, 183, 98) ;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 20px;
    transition: 0.4s;
}
.login-form input[type="submit"]:hover{
    cursor: pointer;
    background: white;
    color: teal;

}
.login-form a{
    text-decoration: none;
    color: rgb(202, 183, 98);
    line-height: 30px;
}
small{
    color: #fff;
}
small a{
    color:  rgb(202, 183, 98) ;
    text-decoration: none;
}
.login-form a:hover{
   text-decoration:underline ;
   color: white;
}
